* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#body {
  background-color: #f0fff6;
}

header {
  padding: 10px;
  margin: 10px;
}

nav {
  margin-bottom: 10px;
  background-color: #9ec0b1;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.193);
  text-align: center;
}

nav>a {
  text-decoration: none;
  color: #f0fff6;
  font-weight: bold;
  margin-right: 20px;
}

nav>a:hover {
  text-decoration: underline;
  color: #4f7474;
}

main {
  background-color: #9ec0b1;
  padding: 10px;
  margin: 10px;
  border-radius: 10px 0px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.384);
  text-align: center;
}

article {
  background-color: white;
  padding: 7px;
  text-align: left;
}

article>aside {
  background-color: #9ec0b1;
}

aside>p {
  text-align: right;
  color: #f0fff0;
}

footer {
  background-color: #4f7474;
  text-align: center;
  padding: 4px;
  margin: 0px;
}

footer>a {
  margin: 0px;
  color: white;
  text-decoration: none;
}

footer>a:hover {
  color: #bbdbcc;
}

h1 {
  color: #4f7474;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(54, 89, 89, 0.576)
}

h2 {
  color: #f0fff6;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(54, 89, 89, 0.576)
}

#intro-paulo {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.384);
}

h5 {
  font-weight: bold;
  color: #4f7474;
  background-color: #bbdbcc;
  text-shadow: 1px 1px 1px rgba(54, 89, 89, 0.063)
}

p {
  text-align: justify;
  text-indent: 20px;
}

main>aside {
  color: #ffffff;
}

h5>a {
  margin: 0px;
  color: #4f7474;
  text-decoration: none;
}

h5>a:hover {
  color: #f0fff6;
}

li {
  font-weight: bold;
  color: #324444;
}

.livros {
  width: 200px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  text-align: center;
}

p>a {
  color: #537979;
  text-decoration: none;
}

p>a:hover {
  color: #9ec0b1;
}

#topo {
  text-decoration: none;
  color: #324444;
  padding: 10px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: 3px 3px 3px 3px rgba(51, 51, 51, 0.788);
}